/* Убираем стрелочки из полей для ввода цифр */
input, input:active, input:focus, input:hover {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}


body {
    background-color: #ffffff;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

/* Header */
h1 {
    text-align: center;
    font-family: 'Mansalva', sans-serif;
    font-size: 1.5em;
    color: crimson;
    text-transform: uppercase;
}

.page-404 h1 {
    margin-top: 15vh;
}

/* Pentagram Image */
.pentagram-img {
    margin-bottom: 1em;
    text-align: center;}
img#fairy-lights-pentagram {
    max-width: 500px;
    height: auto;
    width: 32vh;
    min-width: 150px;}

.image-404 {
    filter: grayscale(100%);
}

#clicker {text-decoration: none;}

#clicker #click {
    font-family: 'Mansalva', sans-serif;
    font-size: 0.7em;
    color: #060606;
    text-decoration: none;}

.main-page {
    font-family: 'Mansalva', sans-serif;
    font-size: 1.4em;
    color: #060606;
    text-decoration: none;
}

/* Forms */
#forms {
    margin-bottom: 2em;
}

.pentagram-label{
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1em;
}

.cm-in-link {color: #ffaaaa; text-decoration: none;}
.cm-in-link:hover {color: crimson;}

.pentagram-text, .pentagram-submit {
    display: inline-block;
    font-size: 1em;
    line-height: 2em;
    padding: 0.5em;
    border: 2px solid #060606;
    border-radius: 0.5em;
    color: crimson;
}
.pentagram-text::placeholder {color: #ffaaaa;}
.pentagram-text:active, .pentagram-text:focus {
    border-color: crimson;
    color: #060606;
    background-color: #fff0f0;
}

.pentagram-submit {background-color: #fff0f0;}

.pentagram-submit:hover, .pentagram-submit:focus {
    background-color: crimson;
    color: #fff0f0;
}
.pentagram-submit:active {
    border-color: crimson;
    color: #060606;
    background-color: #fff0f0;
}

footer {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #060606;
    color: #f6f6f6;
}
footer a {color: #ffaaaa;}

@media (max-width: 600px) {
    h1 {font-size: 18px;}
    .pentagram-label,
    #pentagram-diameter-text, #pentagram-length-text,
    #pentagram-length-submit, #pentagram-diameter-submit {
        font-size: 16px; /* Если текст меньше 16px, Safari на iOS увеличивает страницу */
        padding: 0.1em 0.5em;
    }
    #pentagram-diameter-text, #pentagram-length-text {max-width: 50%; margin-left: 0.5em;}

    footer {font-size: 0.5em;}
}

@media (max-width: 330px) {
    img#fairy-lights-pentagram {width: 30vw;}
}